@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Płyty meblowe</h1>
<a asp-controller="Plyty" asp-action="Add">Dodaj zamówienie</a><br />
<a asp-controller="Plyty" asp-action="FindAll">Zobacz listę zamówionych płyt</a>